---
<!-- layout: index -->
layout: default
---


<!--
<h1>{{ page.title }}</h1>

<h1>{{ site.title | default: site.github.repository_name }}</h1>
<h2>{{ site.description | default: site.github.project_tagline }}</h2>
-->


<!-- {{ content }} -->


<!--
<body>

  <header>
    <div class="container">
      <section id="downloads">
        <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
      </section>
    </div>
  </header>

</body>
-->

<div id="main" role="main">

  <div class="archive">
  
    <!-- <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].page | default: "Page" }}</h2> -->
    <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].article | default: "Article" }}</h2>
    {% comment %}
    { % include list_collection.html collection=site.pages % }
    {% endcomment %}
    {% include list_collection.html collection=site.articles %}

    <br/>

    <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>
    {% comment %}
    { % include list_collection.html collection=paginator.posts % }
    { % include list_collection.html collection=site.posts % }
    {% endcomment %}
    {% include list_collection.html collection=site.diaries %}
  
  </div>
  
  <!-- {% include paginator.html %} -->
  
</div>